.NewMessage_container{
    display: flex;
    padding: 2px 6px;
    width: 100%;
}

.NewMessage-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 2px 1px var(--color-primary);
}

.NewMessage_button-send{
    font-size: 1.3rem;
    border: none;
    color: var(--color-text);
    background-color: var(--color-primary);
    padding: 4px 16px;
}

.NewMessage_input{
    width: 100%;
    display: flex;
    border: none;
    font-size: 1rem;
    padding: 4px 8px;
}

.NewMessage_input:focus{
    border: none;
    outline: none;
}