.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    text-decoration: none;
    color: var(--color-text);
    font-family: sans-serif;
    border-bottom: 1px solid rgba(64, 22, 92, 0.664);
}
.contact-item:hover {
    background-color: var(--color-background);
}
.contact-item:active {
    background-color: var(--color-secondary);
}

.img__contact-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.h3__contact-item {
    font-size: 1.2rem;
    align-self: flex-start;
}

.last-message__contact-item {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
}

.unread-mensagge_span{
    flex: 0;
    font-weight: bold;
}

.last-time_contact-item{
    font-size: 0.8rem;
    color: gray;
}