.chat-container{
    background-color: var(--color-background);
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth; /* Scroll suave */
    /*scrollbar-color: var(--color-primary) transparent;*/
    scrollbar-width: none;
    padding: 110px 20px;
}

/* Prevenir desbordamiento horizontal en elementos hijos */
.chat-container > * {
    max-width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 419px) {
    .chat-container{
        padding: 85px 8px;
    }
    
}
@media screen and (max-width: 300px) {
    .chat-container{
        padding-top: 75px;
    }
    
}
@media screen and (max-width: 750px) {
    .chat-container{
        padding-top: 100px;
    }
    
}