:root {
    --color-primary: #075E54;         /* Encabezado y botones principales */
    --color-secondary: #25D366;       /* Botón de acción (enviar, llamada) */
    --color-text: #303030;            /* Texto principal */
    --card: #FFFFFF;                  /* Fondo de burbujas recibidas y tarjetas */
    --color-background: #E5DDD5;      /* Fondo general de la app */
}

[data-theme='dark'] {
    --color-primary: #1F2C34;         /* Encabezado y fondo superior */
    --color-secondary: #25D366;       /* Botón de acción (enviar, llamada) */
    --card: #202C33;                  /* Fondo de burbujas recibidas y tarjetas */
    --color-text: #E9EDEF;            /* Texto principal */
    --color-background: #121B22;      /* Fondo general de la app */
}

body{
    background-color: var(--color-background);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
