:root {
    --color-primary: #4a6cf7;
    --color-secondary: #a78bfa;
    --color-text: #1e2a4a;
    --card: #ffffff;
    --color-background: #e0e8fd;
}

[data-theme='dark'] {
    --color-primary:#3b82f6;
    --color-secondary: #8b5cf6;
    --card: #1e293b;
    --color-text: #f8fafc;
    --color-background: #0f172a;
}

body{
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
